@charset "utf-8";

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

.inputField {
    margin: 10px !important;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row > label {
    margin-left: 10px !important;
}

.title-index-form {
    font-size: 32pt;
    margin: 35px;
    text-align: center;
}

.Stepper {
    margin: auto;
    margin-bottom: 30px;
    width: 40%;
}
