@charset "utf-8";

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

.inputField {
    margin: 10px !important;
}

.row {
    margin: 10px;
    padding: 10px;
}
